@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900&display=swap');

html,body{
    margin: 0;
    padding: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #FAFAFA; 
    font-size: 18px;
    color: #274661;
    font-family: 'Cairo', sans-serif;
}

.conatiner{
    margin:0 auto;
    width: 90%;
  }
  
  #navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: inherit;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #navbar li{
    display: inline-flex;
    margin: 0;
  }
  #navbar a:hover{
    background-color: #274661;
    color: #FAFAFA;
    border-radius: 10px;
  }
  #navbar a{
    padding: 1em;
    color: #274661;
  }
  #welcome-section{
    margin-top: 70px;
    height: 100vh;
    background-color: #9CA7DE;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
  }
  #welcome-section > h1{
    font-size: 56px;
    margin-bottom: 24px;
  }
  
  #about p{
    margin: 10px 0;
  }
  
  .skills{
    background-color: #C8DCEF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    align-items: flex-start;
    transition: transform 2s;
    margin: 100px 0;
  }
  .skills:hover{
    transform: skew(2deg, 3deg)
  }
  .skills h2{
    margin: 10px 20px;
  }
  .skills li{
    background-color: #F9F9F9;
    padding: .5em;
    margin: 15px;
    display: flex;
    transition: transform 500ms;
    border-radius: 0 10px 0 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  .skills li:hover{
    transform: translateX(20px);
  }
  #projects h2{
    text-align: center;
    margin-bottom: 20px;
  }
  .project{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }
  .project div{
    border: 1px solid #C8DCEF;
  }
  #projects{
    margin-top: 80px;
    margin-bottom: 80px;
  }
  img{
    max-width: 100%;
    height: auto;
  }
  figcaption{
    margin-top: 20px;
  }
  #contact{
    border-top: 1px solid #C8DCEF;
    padding: .25em;
  }
  #contact p{
    margin-bottom: 40px;
  }
  .personal{
    display: flex;
    justify-content: space-between;
  }
  .social-links li{
    display: flex;
  }
  .social-links ul{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .social-link{
    padding: .25em;
    margin:.75em;
    color: inherit;
    transition: font-size 200ms;
  }
  .social-link:hover{
    font-size: 20px;
    
  }
  .span{
    position: relative;
    width: 10px;
    height: 10px;
    margin: 0 1em;
    border-radius: 50%;
    background-color:#ffffff;
    display: inline-block;
  }
  
  .span::before, .span::after{
    content:"";
    display: block;
    position: relative;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
  }
  .span::before{
    left: 20px;
    bottom: 0;
    animation-name: drop3;
    animation-name: drop2;
    animation-duration: 2s;
    animation-fill-mode: backwards;
    animation-delay: 3500ms;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  }
  .span::after{
    z-index: 100;
    top: -10px;
    left: 40px;
    animation-name: drop1;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
    
  }
  .animatentry{
    width: 100%;
    height: 100%;
    background-color: #7C87BF;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    animation-name: entry;
    animation-duration: 2500ms;
    animation-delay: 3000ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    
  }
  @keyframes entry{
    0%   {
          transform: scale(1.0); 
      }
     
      100%{
          transform: scale(0);
        border-radius: 50%;
      }
  }
  @keyframes drop1{
    0%{
      transform: translateY(-10000%);
      
    }
    100%{
      transform: translateY(0);
    }
  }
  @keyframes drop2{
    0%{
      transform: translateY(10000%);
      
    }
    100%{
      transform: translateY(0);
    }
  }
  
  a{
    text-decoration: none;
  }
  @media(max-width: 500px){
    body{
      background-color: #FAFAFA; 
      font-size: 16px;
      color: #274661;
    }
    #about{
      text-align: center;
    }
    #welcome-section{
      text-align: center;
    }
    #welcome-section h1{
      
      font-size: 36px;
    }
    .personal{
      flex-direction: column;
      align-items: center;
    }
    #contact{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .project{
    display: grid;
    grid-template-columns: max-width(380px);
  }
  }